body {
    color: rgb(255, 169, 184);
    background-color: palevioletred;
}

h2 {
    color: rgb(128, 0, 0);
}
img{
    border-width: 40px;
    border-style: double;
    border-color:rgb(160, 47, 57)
}
nav {
    background: rgb(239, 80, 41);
   margin: 0 auto;
    display: flex;
    padding: 10px;
}
h1 {
    display: flexbox;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-table;
    padding: 0 10px;
}
a {
    text-decoration: firebrick;
    color: firebrick;
}


