body {
    color: rgb(255, 169, 184);
    background-color: palevioletred;
}

h2 {
    color: rgb(128, 0, 0);
}
img{
    border-width: 40px;
    border-style: double;
    border-color:rgb(160, 47, 57)
}